nav {
  padding: 2px 12px;
  margin: 3px 14px 11px;
  background-color:bisque;
}

nav a {
  color:navy;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color:whitesmoke;
  text-decoration: underline;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4rem;
}