nav {
  padding: 2px 12px;
  background-color:var(--navbar-color);
}

nav a {
  color:var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color:whitesmoke;
  text-decoration: underline;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4rem;
}
footer{
  margin-top: 40px;
  padding: 15px;
  background-color:var(--content-color);
  font-size: 12px;
  color:var(--text-color);
}

.main{
  margin: 16px;
  background-color: var(--content-color);
  padding-bottom: 18px;
  padding-top:20px ;
  border-radius: 8px;
}

.banner{
  background-color: var(--content-color);
  background-image: url("./assets/DBMS background image.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 80px 20px;
  text-align: center;
  margin: 20px;
  border-radius: 40px;

}

body{
  background-color: var(--background-color);
}

.product-card-body{
  background-color: var(--product-card-color);
  border-radius: 8px;
  padding-top: 32px;
  padding-bottom: 8px;
  width: 300px;
  gap: 16px;
}

.product-card{
  gap: 16px;
  padding: 16px;
}

.product-card-description {
  color: var(--link-text-color);
}

.product-card-description a:hover {
  color: blue;
}

.product-card-title{
  color: var(--link-text-color);
}

.product-card-title a:hover{
  color: blue;
}

.product-card-price{
color: var(--link-text-color);
}

.product-card-price a:hover{
  color: blue;
}

a {
  text-decoration: none;
}

.sales-content{
  margin: 16px;
  background-color: var(--content-color);
  padding-bottom: 18px;
  padding-top:20px ;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

:root{
  --background-color: #F8F9FA;
  --content-color: #CED4DA;
  --navbar-color: #E9ECEF;
  --text-color: #343A40;
  --product-card-color: #DEE2E6;
  --link-text-color: #6c757d;
}
.footer-links{
  list-style: none;
  display:grid;
  
}
footer a {
  color:var(--text-color);
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  color:whitesmoke;
  text-decoration: underline;
}
.banner-button{
  background-color: var(--navbar-color);
  border-radius: 32px;
  display:inline-block;
  padding: 4px 8px;
  color: var(--text-color);
  margin: 10px;

}
.banner a:hover{
background-color: var(--link-text-color);
}
h3{
  text-align: left;
  position: grid;
  bottom:0;
  left:0;
  margin:67;
  color: var(--text-color);
}

.Checkout-h1{
  color: var(--text-color);
  text-align: left;
  
}

h4{
  text-align: left;
  position: grid;
  bottom:0;
  left:0;
  margin:67;
  color: var(--text-color);
}

.Checkout-card-body{
  background-color: var(--product-card-color);
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 8px;
  width: 600px;
  gap: 16px;
  display:flex;
  padding-left: 16px;
  
}

.Checkout-card{
  gap: 16px;
  padding: 16px;
}

.Checkout-card-description {
  color: var(--link-text-color);
}

.Checkout-card-description a:hover {
  color: blue;
}

.Checkout-card-title{
  color: var(--link-text-color);
}

.Checkout-card-title a:hover{
  color: blue;
}

.Checkout-card-price{
color: var(--link-text-color);
}

.Checkout-card-price a:hover{
  color: blue;
}

.Checkout-info{
  text-align: left;
  position: grid;
  bottom:0;
  left:0;
  margin:67;

}

.Checkout-container{
  margin-left: 16px;
  
}

.Checkout-button{
  background-color: var(--content-color);
  border-radius:32px;
  padding:8px 16px;
  color: var(--text-color);
  display:flex;
  width: 71px;
  margin-top: 16px;
}
.item-text{
color:var(--text-color);
text-align: left;
padding-bottom: 16px;
}
.item-h1{
color:var(--text-color);
}
.item-h4{

}
.item-ul{
color:var(--text-color);
text-align: left;
list-style: none;
}
.item-description{
padding-left: 30px;
}
.item-photo{
width:100%;
height:100%;
object-fit: contain;
}
.item-container{
  display: flex;
  padding-top:16px;
  padding-bottom: 16px;

}
.item-sub-description{
  border-bottom: 2px solid var(--content-color);
  padding-left:16px;
}

.about-us-h1{
  color: var(--text-color);
  padding-left: 16px;
}

.about-us-p{
  text-align: left;
  color: var(--text-color);
  padding-left:32px;
  padding-right: 32px;
}

input{
  height: 32px;
  display: flex;
  background-color: var(--content-color);
  border-radius: 8px;
  padding: 2px;
  color: var(--text-color);
}